.buttons,
.main .profile {
    display: flex;
    justify-content: left;
}
.main .profile {
    align-items: center;
    min-height: calc(100vh - var(--footer-height) - (var(--gap) * 2));
    font-size: var(--homesize);
    line-height: var(--lineheight);
    padding: var(--gap);
}

.profile .profile_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.profile .profile_inner h1 {
    font-size: 1.125rem;
}

.profile img {
    border-radius: 10%;
    border: 1px solid var(--tertiary);
}

.buttons {
    flex-wrap: wrap;
}

.button {
    background: var(--tertiary);
    border-radius: var(--radius);
    margin: 6px 12px 6px 0px;
    padding: 10px;
}
.profile .profile_inner span {
    text-align: justify;
}
.button-inner {
    padding: 0 8px;
}

.button:hover {
    background: var(--lightcolor);
}